#wporg-footer {
    margin: 0 auto;
    padding: 22px 14px 65px 14px;
    border-top: 1px solid #dfdfdf;
    background-color: #f7f7f7;

    .container {
        display: flex;
    }

    ul {
        width: 135px;
        margin-left: 24px;
        margin-bottom: 20px;
        padding-left: 0;

        li {
            font-size: 14px;
            margin-bottom: 1px;
            color: #bbb;
            list-style-type: none;

            a {
                color: #21759b;
                text-decoration: none;
                font-weight: normal;
            }
        }
    }

    .cip-image {
        width: max-content;
        margin: 64px auto 0px;
    }

    .copyright {
        text-align: center;
        margin: 20px 10px;
        font-size: 13px;
        color: #8e8e8e;
    }
}