.navbar {
    background-color: $secColor;
    padding: 4px;

    .header{    
        .navbar{
            &-brand {
                width: 20%;
                margin-right: 44px;
            }
    
            &-nav .nav-link {
                color: var(--light);
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.navbar {
    background-color: $secColor;
    padding: 4px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 1px 1px 20px #3b454e8a;
}

.jumbotron {
    background-color: $maincolor;
    color: var(--light);
    margin-top: 93px;
}

.card {
    border-radius: 0;
}

.accordion>.card>.card-header {
    background: #f7f7f7;

    button {
        color: $maincolor;
        text-decoration: none;
        font-weight: 700;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.gb {
    &__info {
        &-headline, &-content {
            text-align: center;
        }

        &-content {
            font-size: 24px;
            max-width: 780px;
            margin: 30px auto 0;
        }
    }

    &__generator {
        padding-top: 30px;
        padding-bottom: 30px;

        &-tab {
            padding: 43px 10px;

            h5 {
                margin-left: 10px;
            }
        }

        &-buttons {
            justify-content: center;
        }

        &-button {
            width: 29%;
            margin-right: 12px;
            height: 48px;

            &.btn-outline-primary {
                margin-top: 0;
                color: $maincolor;
                border-color: $maincolor;

                &:hover, &:focus{
                    background: #f1f1f1 !important;
                }
            }
        }
    }
}